

<div class="bottom_navbar">
    <div class="bottom_center">
       <div class="bottom_set_left">
                <div class="bottom_set_left_color">
                    <img src="/static/homepage_img/aniway_logo.png">
                </div>
                <div class="bottom_set_left_text_set">
                    <div class="bottom_set_left_text">
                        <div style="font-weight: bold;" class="bottom_inquiry">
                            문의
                        </div>
                          <div class="bottom_inquiry">
                            imiss6236c@gmail.com
                        </div>  <div class="bottom_inquiry">
                            010-8592-9623
                        </div>
                    </div>
                    <div class="bottom_set_left_text2">
                        <div class="bottom_inquiry2">
                            (주) Aniway
                        </div>
                         <div class="bottom_inquiry2">
                            사업자등록번호 102-33-61785
                        </div>
                         <div class="bottom_inquiry2">
                            대표 : 김우혁
                        </div>
                          <div class="bottom_inquiry2">
                            회사주소 : 대전광역시 대덕구 오정동 201-19 (오정동, 한남대학교)
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>