
{% extends "homepage/base.html" %}


{% block content %}

    {% include "homepage/service_navbar.html" %}

    <div class="net_body">
        <div class="net_center">
            <div class="net_title">
                비즈니스/제휴
            </div>
            <div class="net_wrap">
                <div class="net_wrap_list">
                  <a href="http://www.hannam.ac.kr/kor/main/"><img class="net_wrap_img" src="/static/homepage_img/hannam_img.png"></a>
                    <div class="net_wrap_text">한남대학교</div>
                </div>
                 <div class="net_wrap_list">
                   <a href="https://linc.dju.ac.kr/"><img class="net_wrap_img" src="/static/homepage_img/link.png"></a>
                    <div class="net_wrap_text">링크사업단</div>
                </div>
                 <div class="net_wrap_list">
                   <a href="http://dareunkorea.kr/"><img class="net_wrap_img" src="/static/homepage_img/dareunkorea.png"></a>
                    <div class="net_wrap_text">다른코리아</div>
                </div>
                 <div class="net_wrap_list">
                    <img class="net_wrap_img" src="/static/homepage_img/route125.png">
                    <div class="net_wrap_text">route 125</div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
