
{% extends "homepage/base.html" %}


{% block content %}

    {% include "homepage/service_navbar.html" %}

    <div class="info_body">
        <div class="info_center">
            <div class="info_title">
                공지사항
            </div>
            <div class="info_list_number">
                총 &nbsp;<p class="info_font">n</p>개
            </div>
            <div class="info_list">
                <div class="info_list_title">
                    <div class="info_title_number">
                        번호
                    </div>
                      <div class="info_title_title">
                        제목
                    </div>
                      <div class="info_title_file">
                        첨부
                    </div>
                      <div class="info_title_count">
                        조회
                    </div>
                      <div class="info_title_create">
                        등록일
                    </div>
                </div>


                {% for question_list in question_list %}
                    <a style="color: #000000; text-decoration: none;" href="/homepage/infopage_click/{{ question_list.pk }}">
                      <div class="info_form">
                    <div class="info_from_number">
                       {{ question_list.id }}
                    </div>
                     <div class="info_from_text">
                      {{ question_list.title }}
                    </div>
                     <div class="info_from_file">
                        -
                    </div>
                     <div class="info_from_count">
                      {{ question_list.counting }}
                    </div>
                     <div class="info_from_create" >
                       {{ question_list.create|date:"Y.m.d"}}
                    </div>
                </div>
                    </a>
                        {% endfor %}
 <ul class="info_next_box justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item" style="width: 60px;">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">  <img class="info_next_img1" src="/static/homepage_img/info_next1.png"></a>
        </li>
        {% else %}
        <li class="page-item disabled" style="width: 60px;">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">  <img class="info_next_img1" src="/static/homepage_img/info_next1.png"></a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item" >
            <a class="page-link" style="width: 60px;" href="?page={{ question_list.next_page_number }}">
                <img class="info_next_img1" src="/static/homepage_img/info_next2.png"></a>
        </li>
        {% else %}
        <li class="page-item disabled" style="width: 60px; padding-left: 12px;">
            <a class="page-link" style="width: 60px;" tabindex="-1" aria-disabled="true" href="#">
                <img class="info_next_img1" src="/static/homepage_img/info_next2.png"></a>
        </li>
        {% endif %}
    </ul>
{#                <div class="info_next_box">#}
{#                    <img class="info_next_img1" src="/static/homepage_img/info_next1.png">#}
{#                    <div class="info_next_number_on">1</div>#}
{#                    <div class="info_next_number">2</div>#}
{#                    <div class="info_next_number">3</div>#}
{##}
{#                </div>#}

                <!-- 페이징처리 시작 -->
            </div>
        </div>
    </div>


    <!-- 페이징처리 끝 -->
{% endblock %}