
{% extends 'homepage/base.html' %}


{% block content %}

<div class="business_body">
    <img class="business_banner" src="/static/homepage_img/business_banner.png">
    <div class="business_history_body">
        <div class="business_history">
            <div class="business_history_title">
             HISTORY
            </div>
            <div class="business_history_text">
             연혁
            </div>
            <div class="business_history_pack">
                <div class="business_history_2022">
2022
                </div>
                <div class="business_history_list">
ㆍ한남대 초기창업패키지 창업클럽 선정 (300만)
ㆍ지역협력 창업기업 사업화 지원사업 선정 (1,000만)
ㆍ학생창업유망팀 300팀 선정 (교육부장관 인증서)
ㆍ한남대학교 LINC 3.0 창업동아리 선정 (300만)
ㆍBETA 페스티벌 2022 아이디어톤 장려상 (안동형 일자리사업단장상)
ㆍ대전 스타트업 스쿨 우수상 (창조경제혁신센터장상)
ㆍ지역협력기반 지역혁신사업 창업아이디어 경진대회 대상 (목원대학교 총장상)
ㆍLINC 3.0 반짝이는 창업 아이디어 경진대회 최우수상 (대전창조경제혁신센서장상)
ㆍ기업가정신 경진대회 1위
ㆍHSV 창업경진대회 우수상
ㆍ대전 대학생 공공기술 창업아이디어 공모전 우수상 (대전창조경제혁신센터장상)
ㆍ디지털 산업혁신 해외 기업정보 빅데이터 경진대회 최우수상 (한국액셀러레이터협회장상)
                </div>

            </div>
               <div style="border-bottom: 2px solid #C3C3C3; padding-bottom: 60px;" class="business_history_pack">
                <div class="business_history_2022">
2021
                </div>
                <div class="business_history_list">
ㆍ사회적기업육성사업 창업 팀 선정 (약 3,000만)
ㆍ스타트업 스쿨 창업 아이디어 경진대회 우수상 (한국예탁결제원장상)
ㆍ전주대학교 청소년 모의 크라우드펀딩 컨설팅 (전주대학교 전문 멘토)
ㆍ제1회 충청남도 청소년 창업경진대회 멘토링 (천안여자상업고등학교 전문 멘토)
ㆍHIT 꿈나무 창업 멘토링 (한남대학교 전문 멘토)
ㆍ찾아가는 비즈쿨 창업교육 (창업진흥원 전문 및 보조강사)
                </div>

            </div>
            <div class="business_come">

            <div class="business_address">
                ADDERSS
            </div>
               <div class="business_add">
                오시는 길
            </div>
              <a href="https://map.naver.com/v5/directions/-/-/-/transit?c=14184522.1667882,4349391.9216918,16.58,0,0,2,dh">
                 <img class="business_img" src="/static/homepage_img/address.png">
              </a>
                 </div>
    </div>
</div>
</div>

{% endblock %}

