
{% extends "homepage/base.html" %}


{% block content %}
    {% include "homepage/service_navbar.html" %}

    <img class="center_img" src="/static/homepage_img/center_img.png">
<div class="center_body">
    <div class="center_center">
        <div class="center_title">
            무엇을 도와드릴까요?
        </div>
        <div class="center_box">
            Q &nbsp;이용법, 불편함 등 무엇이든 검색해보세요
        </div>
        <div class="center_qna">
            Q &nbsp;Aniway는 어떤일을 하는 회사인가요?
         <img class="add_feed" id="add_feed" src="/static/homepage_img/service_btn.png">
        </div>
           <div class="center_qna">
            Q &nbsp;강의를 수강하고 싶은데 어떻게 하나요?
         <img class="add_feed" id="add_feed" src="/static/homepage_img/service_btn.png">
        </div>
           <div class="center_qna">
            Q &nbsp;Aniway에는 어떠한 교육들이 있나요?
         <img class="add_feed" id="add_feed" src="/static/homepage_img/service_btn.png">
        </div>
           <div class="center_qna">
            Q &nbsp;반려용품도 구매할 수 있나요?
         <img class="add_feed" id="add_feed" src="/static/homepage_img/service_btn.png">
        </div>
           <div class="center_qna">
            Q &nbsp;Aniway에서 제공하는 교육은 모두 무료인가요?
         <img class="add_feed" id="add_feed" src="/static/homepage_img/service_btn.png">
        </div>
    </div>

    </div>



       <div id="modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">

                <div class="modal_title_name"> Q &nbsp;강의를 수강하고 싶은데 어떻게 하나요? </div>
                        <img id="close_modal" class="modal_x" src="/static/homepage_img/sevice_x.png">
            </div>
            <div class="modal_border">
            </div>
            <div class="modal_text_box">
                <div class="modal_text_left">
                    A
                </div>
                <div class="modal_text_p">안녕하세요 고객님!
Aniway는 초보반려인 여러분이 반려견을 처음 키우게 될 시
어떠한 교육을 어떠한 순서로 진행하며 또한 필수 용품은 무엇이 있는지
잘 모르시는 경우가 매우 많습니다. 그래서 저희는 고객님들께서
반려견을 처음 키우시더라도 문제가 되지 않도록 저희 플랫폼만 이용하신다면
교육부터 용품까지 모두 해결해 드릴 수 있는
맞춤형 교육서비스 및 패키지 상품을 제공하고 있습니다.
회원가입만 하신다면 바로 이러한 서비스를 모두 이용할 수 있습니다.^_^
                </div>
            </div>
        </div>
    </div>

      <div id="modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">

                <div class="modal_title_name"> Q &nbsp;강의를 수강하고 싶은데 어떻게 하나요? </div>
                        <img id="close_modal" class="modal_x" src="/static/homepage_img/sevice_x.png">
            </div>
            <div class="modal_border">
            </div>
            <div class="modal_text_box">
                <div class="modal_text_left">
                    A
                </div>
                <div class="modal_text_p">안녕하세요 고객님!
강의 관련 문의를 주셔서 감사합니다.
강의를 수강하시려면 먼저 Aniway 플랫폼에 회원가입을 진행해 주셔야 합니다.
고객님과 반려견의 소중한 정보를 입력해주신 후 회원가입이 완료되시면
저희 플랫폼 서비스에서 상단에 미션버튼을 클릭해 주시면 바로
교육서비스를 무료로 제공받으실 수 있습니다.^_^
                </div>
            </div>
        </div>
    </div>

      <div id="modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">

                <div class="modal_title_name"> Q &nbsp;강의를 수강하고 싶은데 어떻게 하나요? </div>
                        <img id="close_modal" class="modal_x" src="/static/homepage_img/sevice_x.png">
            </div>
            <div class="modal_border">
            </div>
            <div class="modal_text_box">
                <div class="modal_text_left">
                    A
                </div>
                <div class="modal_text_p">안녕하세요 고객님!
강의 관련 문의를 주셔서 감사합니다.
강의를 수강하시려면 먼저 Aniway 플랫폼에 회원가입을 진행해 주셔야 합니다.
고객님과 반려견의 소중한 정보를 입력해주신 후 회원가입이 완료되시면
저희 플랫폼 서비스에서 상단에 미션버튼을 클릭해 주시면 바로
교육서비스를 무료로 제공받으실 수 있습니다.^_^
                </div>
            </div>
        </div>
    </div>

      <div id="modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">

                <div class="modal_title_name"> Q &nbsp;강의를 수강하고 싶은데 어떻게 하나요? </div>
                        <img id="close_modal" class="modal_x" src="/static/homepage_img/sevice_x.png">
            </div>
            <div class="modal_border">
            </div>
            <div class="modal_text_box">
                <div class="modal_text_left">
                    A
                </div>
                <div class="modal_text_p">안녕하세요 고객님!
강의 관련 문의를 주셔서 감사합니다.
강의를 수강하시려면 먼저 Aniway 플랫폼에 회원가입을 진행해 주셔야 합니다.
고객님과 반려견의 소중한 정보를 입력해주신 후 회원가입이 완료되시면
저희 플랫폼 서비스에서 상단에 미션버튼을 클릭해 주시면 바로
교육서비스를 무료로 제공받으실 수 있습니다.^_^
                </div>
            </div>
        </div>
    </div>

      <div id="modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">

                <div class="modal_title_name"> Q &nbsp;강의를 수강하고 싶은데 어떻게 하나요? </div>
                        <img id="close_modal" class="modal_x" src="/static/homepage_img/sevice_x.png">
            </div>
            <div class="modal_border">
            </div>
            <div class="modal_text_box">
                <div class="modal_text_left">
                    A
                </div>
                <div class="modal_text_p">안녕하세요 고객님!
강의 관련 문의를 주셔서 감사합니다.
강의를 수강하시려면 먼저 Aniway 플랫폼에 회원가입을 진행해 주셔야 합니다.
고객님과 반려견의 소중한 정보를 입력해주신 후 회원가입이 완료되시면
저희 플랫폼 서비스에서 상단에 미션버튼을 클릭해 주시면 바로
교육서비스를 무료로 제공받으실 수 있습니다.^_^
                </div>
            </div>
        </div>
    </div>


<script>
  {#// 모달 띄우기 코드#}
  {#  const modal = document.getElementById("modal_add_feed");#}
  {#  const buttonAddFeed = document.getElementById("add_feed");#}
  {#  buttonAddFeed.addEventListener("click", e => {#}
  {#      modal.style.display = "flex";#}
  {#  });#}
  {##}
  {#  // 모달 닫기 코드#}
  {#  const buttonCloseModal = document.getElementById("close_modal");#}
  {#  buttonCloseModal.addEventListener("click", e => {#}
  {#      modal.style.display = "none";#}
  {#      document.body.style.overflowY = "visible";#}
  {#  });#}

  // Modal을 가져옵니다.
  var modals = document.getElementsByClassName("modal_overlay");
  // Modal을 띄우는 클래스 이름을 가져옵니다.
  var btns = document.getElementsByClassName("add_feed");
  // Modal을 닫는 close 클래스를 가져옵니다.
  var spanes = document.getElementsByClassName("modal_x");
  var funcs = [];

  // Modal을 띄우고 닫는 클릭 이벤트를 정의한 함수
  function Modal(num) {
      return function () {
          // 해당 클래스의 내용을 클릭하면 Modal을 띄웁니다.
          btns[num].onclick = function () {
              modals[num].style.display = "flex";
              console.log(num);
          };

          // <span> 태그(X 버튼)를 클릭하면 Modal이 닫습니다.
          spanes[num].onclick = function () {
              modals[num].style.display = "none";
          };
      };
  }

  // 원하는 Modal 수만큼 Modal 함수를 호출해서 funcs 함수에 정의합니다.
  for (var i = 0; i < btns.length; i++) {
      funcs[i] = Modal(i);
  }

  // 원하는 Modal 수만큼 funcs 함수를 호출합니다.
  for (var j = 0; j < btns.length; j++) {
      funcs[j]();
  }

  // Modal 영역 밖을 클릭하면 Modal을 닫습니다.
  window.onclick = function (event) {
      if (event.target.className == "modal_overlay") {
          event.target.style.display = "none";
      }
  };

</script>

{% endblock %}
