
<nav class="navbar navbar-expand-lg navbar-dark bg-nav_background_color">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url "homepage:homepage" %}">
                     <img src="/static/homepage_img/aniway_logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url "homepage:business" %}">회사소개</a></li>
                         <li style="margin-left: 20px;" class="nav-item"><a class="nav-link active" aria-current="page" href="{% url "homepage:infopage" %}">고객센터</a></li>
                    </ul>
                     <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                          {% if user.is_active %}
                        <li class="nav-item"><a class="nav-link active" href="{% url "homepage:logout" %}">로그아웃</a></li>
                            {% else %}
                          <li class="nav-item"><a class="nav-link active" href="{% url "homepage:login" %}">로그인</a></li>
                         {% endif %}

                        <li class="nav-item"><a class="nav-link active" href="{% url "homepage:signup" %}">회원가입</a></li>
                    </ul>

                </div>
            </div>
        </nav>