
{% extends 'dog/base.html' %}
{% block content %}

    <form class="dog_signup_body" method="post" action="">
    {% csrf_token %}

        <div class="dog_login_box">
            <div class="dog_login_box_center">
                <img style=" width: 200px; " src="/static/img/login_logo2.png">
                <div class="dog_login_box_text">
                    회원가입
                </div>
            </div>
            <div class="dog_login_input">
                <label for="email" style="margin-bottom: 8px;">이메일</label>
               <input type="text" name="email" id="email" required class="required" maxlength="20"
                               placeholder="이메일"><br>

                <label style="margin-top: 20px;">비밀번호</label>
                <input type="password" name="password1" id="password1" required class="required" maxlength="20"
                               placeholder="비밀번호">
                <input type="password" name="password2" id="password2" required class="required" maxlength="20"
                               placeholder="비밀번호 확인">
                <label style="margin-top: 35px;">이름</label>
               <input type="text" name="name" id="name" required class="required" maxlength="20"
                               placeholder="이름">

                <label style="margin-top: 35px;">성별</label>
                <div style="display: flex;" class="dog_login_agree">
                    <input type="text" name="gender" id="gender" required class="required" maxlength="20"
                           placeholder="성별">
                </div>
                <label style="margin-top: 35px;">생년원일</label>
                <div style="display: flex; justify-content: space-between;">
                   <input type="date" name="date_of_birth" id="date_of_birth" required class="required" maxlength="20"
                           placeholder="사람 생일">
                </div>

                <label style="margin-top: 35px;">휴대전화</label>
               <input type="text" name="phone" id="phone" required class="required" maxlength="20"
                           placeholder="휴대폰 번호">
                {% include "component/signup_pet.html" %}
                <div style="display: flex; margin-top: 35px;">
                    <input type="checkbox" class="dog_signup_check">
                    <label style="margin-left: 10px; font-weight: bold;">전체 동의하기</label>
                </div>
                <div style="margin-top: 10px; background-color: #000000; opacity: 0.5; height: 2px;"></div>
                <div style="display: flex; margin-top: 20px;">
                    <input type="checkbox" class="dog_signup_check">
                    <label style="margin-left: 10px;">만 14세 이상입니다. (필수)</label>
                </div>
                <div style="display: flex; margin-top: 20px;">
                    <input type="checkbox" class="dog_signup_check">
                    <label style="margin-left: 10px;">Aniway 이용 약관동의 (필수)</label>
                </div>
                <div style="display: flex; margin-top: 20px;">
                    <input type="checkbox" class="dog_signup_check">
                    <label style="margin-left: 10px;">개인정보취급방침 동의 (필수)</label>
                </div>
                <div style="display: flex; margin-top: 20px;">
                    <input type="checkbox" class="dog_signup_check">
                    <label style="margin-left: 10px;">
                        마케팅 정보 수신 동의 (선택)
                    </label>
                </div>
              <input type="submit" value="회원가입" id="submit" class="btn-submit">
            </div>
        </div>
    </form>
{{ error_message }}
{% endblock %}