

  <div class="life_cycle">
                <div class="life_cycle_position">
                    <div class="life_cycle_bt_on" type="radio">
                    </div>
                    <div class="life_cycle_bt" type="radio">
                    </div>
                    <div class="life_cycle_bt" type="radio">
                    </div>
                    <div class="life_cycle_bt" type="radio">
                    </div>
                    <div class="life_cycle_bt" type="radio">
                    </div>
                    <div class="life_cycle_bt" type="radio">
                    </div>
                    <div class="life_cycle_bt" type="radio">
                    </div>
                    <div class="life_cycle_bt" type="radio">
                    </div>
                </div>
            </div>

            <div class="life_cycle_text">
                <p class="life_active">0개월</p>
                <p class="life_text_off">1개월</p>
                <p class="life_text_off">2개월</p>
                <p class="life_text_off">3개월</p>
                <p class="life_text_off">4개월</p>
                <p class="life_text_off">5개월</p>
                <p class="life_text_off">6개월</p>
                <p class="life_text_off">7개월~</p>
            </div>