
    <div class="include_dog_login_center">
        <img style=" width: 200px; " src="/static/img/login_logo2.png">
        <div class="include_dog_login_box_text">
            회원가입 (반려견)
        </div>
    </div>

    <label style="margin-bottom: 8px;">반려견 이름</label>
    <input type="text" name="pet_name" id="pet_name" required class="required" maxlength="20"
           placeholder="반려견 이름"><br>

    <label style="">성별</label>
    <div style="display: flex;" class="dog_login_agree">

        <input type="text" name="pet_gender" id="pet_gender" required class="required" maxlength="20"
               placeholder="반려견 성별">
    </div>

    <label style="margin-top: 20px;">생년월일</label>
    <div style="display: flex; justify-content: space-between;">
        <input type="date" name="pet_date_of_birth" id="pet_date_of_birth" required class="required"
               maxlength="20" placeholder="반려견 생일">
    </div>
    <label style="margin-top: 35px;">반려견 견종</label>
    <input type="text" name="pet_breed" id="pet_breed" required class="required" maxlength="20"
           placeholder="견종">
    <label style="margin-top: 35px;">반려견 몸무게</label>
    <input type="text" name="pet_weight" id="pet_weight" required class="required" maxlength="20"
           placeholder="몸무게">
    <label style="margin-top: 35px;">중성화 수술 여부</label>
    <div style="display: flex;" class="dog_login_agree">

        <input type="text" name="pet_neuter" id="pet_neuter" required class="required" maxlength="20"
               placeholder="중성화 여부">
    </div>








