{% extends 'dog/base.html' %}

{% block content %}
    <div class="company_body">
        <div class="company_contain">

            <div class="company_content1">
                <div class="company_content1_img_center">
                    <img class="company_content1_img" src="/static/img/login_logo.png">
                </div>
                <div class="company_content1_text">
                    Aniway는 다양한 전문가들과 함께 가이드를 제공하며<br>
                    안정적이고 개선된 반려생활을 지원하는 행동교정 교육 플랫폼입니다.
                </div>
                <div class="justify-content-center">
                    <img class="company_content1_img2" src="/static/img/company_main.png">
                </div>

                <div class="company_content2">
                    <img class="company_content1_img3" src="/static/img/login_logo.png">
                    <div class="company_content2_line">

                    </div>
                    <div class="company_content2_text">
                        Aniway는 사용자의 반려생활을 증진시킨다는 목적 아래<br>
                        반려인의 소양 구축, 반려견 이상행동 교정에 힘쓰는 기업입니다.
                    </div>

                </div>

                <div class="company_introduce">
                    첫번째, 반려인과 반려견의 상호 니즈 충족을 위해 반려인의 성향을 분석하여<br>
                    사용자 맞춤 미션 제시 등 다양한 활동들을 제공합니다.<br><br><br>
                    두번쨰, 생애주기 분석, 그에 따른 필수 훈련과 함께 필요한 용품들을 제시하여<br>
                    사용자에게 편의성을 제공합니다.
                </div>

                <div class="company_radio_div_center">
                <div class="company_radio_div">
                    <div class="company_radio"></div>
                    <div class="company_radio"></div>
                    <div class="company_radio"></div>
                </div>
                </div>

                    <div class="curriculum_img_width">
                    <img class="curriculum_img" src="/static/img/curriculum.png">
                    <div class="curriculum_line">

                    </div>
                    <div class="curriculum_line_text">
                        반려견의 나이에 맞는 교육 가이드를 제공하며 이상행동에 따른<br>
                        올바른 대처법을 사용자에게 소개합니다.
                    </div>
                    </div>

                <div class="one_title">
                    <h3 style="margin: 0; font-size: 22px">첫번째,</h3><p style="margin: 0;">&nbsp; 생애 주기 커리큘럼</p>
                </div>

                <div class="curriculum_img_center">
                    <img class="curriculum_img" src="/static/img/curriculum_img.jpg">
                </div>

                 <div class="curriculum_img_text">
                       생애개월 6개월까지는 개월수에 따른 교육 가이드를 제공하고 7개월부터는 <br>
                     년수로 나이를 체크하여 가이드를 제공합니다. 사용자의 성향을 분석하여<br>
                     사용자 맞춤 가이드가 제공되어 미션 이행률을 높이고자 합니다.
                    </div>

                 <div style="margin-bottom: 25px;" class="one_title">
                    <h3 style="margin: 0;  font-size: 22px;">두번째,</h3><p style="margin: 0;">&nbsp; 반려견 이상행동 교정 가이드</p>
                </div>

                <div class="curriculum_img_center">
                    <img class="curriculum_img" src="/static/img/curriculum_img2.jpg">
                </div>

                 <div class="curriculum_img_text">
                       총 12가지의 다양한 이상행동 선택지 및 다양한 솔루션으로 반려견의 <br>
                     이상행동 원인을 분석 및 함께 해결합니다.<br>
                    </div>
            </div>

        </div>
    </div>



{% endblock %}