

{% extends 'dog/base.html' %}
{% block content %}

    <div class="mide_body">
        <img class="mide_title_img" src="/static/img/misssion_title.png">
        <div class="mide_center">
            <div class="mide_bottiom">
                <a href="{% url "dog:life_edu" %}" class="mide_nav_life">
                    생애 주기별 교육
                </a>
                <a href="{% url "dog:mission_edu" %}" class="mide_nav_mission">
                    이상행동 교육
                </a>
            </div>
            <div class="mission_page">
                <div class="mide_edu_title">
                    Solution
                </div>
                {#         여기서 부터 관리 내용#}
                {% for mission_detail in mission_details %}
                    <div class="mide_mission">
                            <div class="mide_mi_title">
                                {{ mission_detail.sub_title }}
                            </div>
                                <p class="mide_pre">
                                    {{ mission_detail.sub_text }}
                                </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}