  <nav style=" background-color: #534848; display: flex; justify-content: center; align-items: center;"
             class="nav_card_bar">
            <ul style="padding: 20px 20px 0 20px; width:1440px; display: flex; justify-content: left; align-content: center; background-color: #534848; color: #FFFFFF;">
                <div>
                    <img style="width: 110px;" src="/static/img/logo_white.png">
                </div>
                <div class="dog_nav_bottom">
                    <div class="dog_nav_bottom_top">
                         <div style="padding-bottom: 0px; font-size: 20px; display: flex; color: #ffffff;" class="nav-link"><p class="nav_bottom_font">
                                 이용약관</p>&nbsp;&nbsp;&nbsp;<p class="nav_bottom_font">|</p></p>
                             <p class="nav_bottom_font">
                                &nbsp;&nbsp;&nbsp;개인정보취급방침</p>&nbsp;&nbsp;&nbsp;<p class="nav_bottom_font">|</p></p>
                             <p class="nav_bottom_font">
                                &nbsp;&nbsp;&nbsp;고객센터</p></p>
                         </div>
                    </div>


                     <div class="dog_nav_bottom_bottom">
                         <p class="nav_bottom_font">대표: 김우혁</p>
                           <p class="nav_bottom_font">연락처: 010-8592-9623</p>
                           <p class="nav_bottom_font">이메일: imiss6236c@gmail.com</p>
                           <p class="nav_bottom_font">사업자 등록번호:</p>
                   </div>
                </div>
            </ul>
        </nav>